In [4]:
import pandas

In [5]:
seznam_zvirat = pandas.read_csv("seznam_zvirat.csv", sep=";")
seznam_zvirat

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

kolik má taulka řádků a sloupců

In [3]:
seznam_zvirat.shape

(513, 6)

jak se sloupce jmenují

In [4]:
seznam_zvirat.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

které zvíře se nachází na záznamu s indexem 34, vypiš název v češtině a v angličtině

In [5]:
seznam_zvirat.iloc[33]

id                       98
nazev_cz          Ibis rudý
nazev_en       Scarlet ibis
trida_cz              Ptáci
cena                   3000
k_prohlidce               1
Name: 33, dtype: object

In [6]:
seznam_zvirat.loc[33,["nazev_cz", "nazev_en"]]

nazev_cz       Ibis rudý
nazev_en    Scarlet ibis
Name: 33, dtype: object

Adopce kterých zvířat je nejdražší?

In [6]:
seznam_zvirat.sort_values("cena").tail(10)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
115,336,Lev indický,Asiatic lion,Savci,30000,1
105,310,Medvěd lední,Polar bear,Savci,30000,1
102,298,Gorila nížinná,Western lowland gorilla,Savci,30000,1
244,776,Varan komodský,Komodo dragon,Plazi,30000,1
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1

Které zvíře je alfabeticky poslední v češtině? Které v angličtině?

In [7]:
seznam_zvirat.sort_values("nazev_cz").tail(1)

       id     nazev_cz                nazev_en trida_cz  cena  k_prohlidce
371  1190  Žluva hajní  Eurasian golden oriole    Ptáci  1000            1

In [8]:
seznam_zvirat.sort_values("nazev_en").tail(1)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
161,491,Frankolín žlutokrký,Yellow-necked francolin,Ptáci,1000,1